.header {
  background-color: #1d935c;
  padding:30px;
  margin-top: 0;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1; /* Add this line */
  position: relative;
}

.header h1 {
  margin: 0;
  padding-top: 30px;
  font-size: 2.5em;
}